.overall{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

.pntentermobileER{
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 800;
    color: #767676;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-bottom: 1vh;
    background-color: transparent;
}

.inputboxER{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    margin-bottom: 1vh;
}

.enternameER{
    color: #a0a0a0;
    font-size: 15px;
    font-family: 'Lato';
    padding: 0 0 0 4vw;
    background-color: transparent;
}

.mobilenumberER{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: transparent;
    align-content: flex-start;
    justify-content: flex-start;
}

.phonenumberER{
    font-size: 18px;
    font-family: 'Lato';
    background-color: transparent;
    color: #444444;
    margin-top: -4vh;
}

.plussixfiveER{
    padding: 1.5vh 0 0 2vh;
}

.forwardarrowbackgroundER{
    background-color: transparent;
    margin: -1vh 0 2vh 2vw;
    padding: 0;
}

.forwardarrowER{
    height: 1.5vh;
    object-fit: cover;
    padding-top: 1.5vh;
    padding-left: 1.5vw;
}

.formcontainer{
    margin-left: 2vw;
    margin-top: -0.2vh;
}
.eightdigitER{
    background-color: transparent;
    font-family: 'Lato';
    font-size: 16px;
    color: #444444;
    outline: none;
    box-shadow: none;
    border: none;
}

.eightdigitER:focus{
    box-shadow: none;
    outline: none;
    border: none;
}

.WarningMessagePaynow {
    margin-left: 4vw;
    color: #FF2C4E;
    font-family: 'Lato';
    font-size: 13px;
    margin-bottom: 0;
    padding: 0;
}

.senderboxERflex{
    flex-direction: column;
    width: 100vw;
    background-color: transparent;
    height: 75vh;
}

.recipientdeets{
    display: flex;
    flex-direction: column;
}

.recipientnickER{
    background-color: transparent;
    color: #9a9a9a;
    font-size: 15px;
    font-family: 'Lato';
    margin: 1vh 0 0 4vw;
}

.recipientnameER{
    font-size: 18px;
    font-family: 'Lato';
    padding-left: 4vw;
    color: #444444;
    background-color: transparent;
    padding-top: 0.5vh;
    margin-top: 0;
}


.pntsubmitbuttonER{
    margin: 0 5vw 0vh 5vw;
    padding: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    background-color:#066DAF ;
    color: white;
    border: none;
    width: 90vw;
    position: absolute;
    bottom: 4vh;
}

.pntsubmitbuttonER:hover{
    cursor: pointer;
}
.pntsubmitbuttonER:active {
    opacity: 0.5;
    transition: none;
}

.warningtextalert {
    max-width: 92%;
    margin: auto;
    font-size: 14px;
    color: #FF2C4E;
}

.autofillpaynow {
    background-color: white;
    width: 30vw;
    margin-top: -2.5vh;
    margin-left: 20vw;
}