.ReviewTransferBody {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.ReviewTransferBox {
    width: 90vw;
    border-radius: 10px;
    background: linear-gradient(to bottom, #162633 0%, #162633 25%, white 25%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
    margin-bottom: 5vh;
}


.ReviewTransferBoxBlueText{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: medium;
    color: #c3ccd3;
    margin-top: 7%;
    margin-left: 5%;
    padding: 0;
}

.ReviewTransferBoxBlueSubText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-top: -4%;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}

.ReviewTransferBoxBlueSubTextLeft{
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
    color: #c3ccd3;
    margin-block-start: auto;
    margin-top: 0;
}

.ReviewTransferBoxBlueSubTextRight{
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
    color: #c3ccd3;
    margin-block-start: auto;
    margin: 0;
    margin-right: 5vw;
    padding: 0;
    margin-top: -2%;
}

.ReviewTransferBoxWhite {
    padding-left: 5%;
    margin-top: -5%;
}
.Chunk{
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.Chunk1{
    margin-top: 3vh;
}

.Chunk2{
    margin-bottom: 2vh;
}
.reviewtext {
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
}

.accounttextname{
    font-family: 'Lato';
    font-size: 18px;
    color: #444444;
    padding: 0;
    margin: 0;
}


.TransferNow {
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    background-color:#1D0C86 ;
    color: white;
    border: none;
    width: 90vw;
    padding: 2vh;
    margin: 0;
    position:absolute;
    bottom: 4vh;
    margin: 0 5vw 0 5vw;
}

.TransferPayNow {
    margin: 0 5vw 0vh 5vw;
    padding: 2vh;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    background-color:#066DAF ;
    font-weight: bold;
    color: white;
    border: none;
    width: 90vw;
    position: absolute;
    bottom: 4vh;
}


.TransferPayNow:active {
    opacity: 0.5;
    transition: none;
  }


.TransferNow:active {
    opacity: 0.5;
    transition: none;
}
