.trfWrongAccCheckbox{
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: small;
    color: #000000;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 3vh;
}

.modeOfPaymentFillIn {
    font-family: 'Lavo';
    margin-left: 3%;
    border-bottom: 1px solid #d4d4d4;
    width: 95%;
    margin-bottom: 3vh;
}

.correctNumberOfRecipientFillIn {
    font-family: 'Lavo';
    margin-left: 3%;
    border-bottom: 1px solid #d4d4d4;
    width: 95%;
    margin-bottom: 1vh;
}

.noBorderStyle {
    border:none;
    outline:none;
    width: 100%;
}

.wrgAmtCheckbox{
    display: flex;
    font-family: 'Lato';
    font-size: small;
    color: #000000;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 2vh;
}

.correctAmountToTrf {
    font-family: 'Lavo';
    margin-left: 3%;
    border-bottom: 1px solid #d4d4d4;
    width: 95%;
    margin-bottom: 1vh;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content input,
  .dropdown-content label {
    display: block;
  }
  
  .dropdown-content label {
    margin-bottom: 10px;
  }
  