.maincontainer {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.sticky {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color:#f6f6f6 ;
}
.headertransaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1vw 0;
}

.transparent {
  background-color: transparent;
  border: none;
  cursor: poLato;
  padding: 0;
  margin: 0;
}
.transparent img {
  transition: opacity 0.2s;
}

.transparent:active img {
  opacity: 0.5;
  transition: none;
}
.transparent:active {
  opacity: 0.5;
  transition: none;
}

.back {
  object-fit: contain;
  width: 3vw;
  padding-left: 2vw;
  margin-top: 1vw;
}

.headertext {
  flex:1;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
  color: #444444;
  text-align: center;
}

  
.filtercontainer {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d2d2d2;
    padding: 0;
    margin: 0;
}

.scrollhorizontal {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 3vw 1.5vw;
}

  .filterrectangleunselected {
    outline: 1.2px solid #d2d2d2;
    background-color: white;
    border-radius: 50px;
    margin: 0 1vw;
  }
  .filterrectangleselected {
    outline: 1.2px solid #8E8E8E;
    background-color: #8E8E8E;
    border-radius: 50px;
    margin: 0 1vw;
  }
  .nameunselected {
    font-family: 'Lato';
    color: #a3a3a3;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 2vw 3vw;
  }  
  .nameselected {
    font-family: 'Lato';
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 2vw 3vw;
  }
  
  .ftd {
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
  }
  
  .ftdtext {
    font-family: 'Lato';
    font-size: 16px;
    color: #444444;
    margin:2vw 3vw;
    font-weight: 500;
  }
  .scrollview {
    flex: 1;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  .expand {
    object-fit: contain;
    padding: 0vw 5vw;
    width: 2.5vw;
  }
  .datecontainer {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d2d2d2;
  }
  
  .date {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: bold;
    color: #616161;
    margin: 2vw 3vw;
  }
  .transaction {
    background-color: white;
    border-bottom: 1px solid #d2d2d2;
  }
  
  .transactionheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 3vw;
    margin: 0;
  }
  
  .transactiontitle {
    font-family: 'Lato';
    font-size: 17px;
    color: #444444;
    width: 84vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  
  .transactiontype {
    font-family: 'Lato';
    font-size: 14px;
    color: #a3a3a3;
    text-align: left;
    margin-top: -3vw;
    padding: 0 3vw;
  }
  
  .transactiondetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    margin: 0;
    padding: 0 3vw;
  }
  
  .rightcontainer2 {
    display:flex;
    flex-direction: row;
  }
  .sgd1 {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: bold;
    color: #a3a3a3;
    text-align: right;
    margin: 0;
    padding: 1.5vw 1vw 0 0;
  }
  
  .moneyout {
    font-family: 'Lato';
    font-size: 20px;
    color: #444444;
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 0vw 5vw 1.5vw 0;
  }
  .moneyin {
    font-family: 'Lato';
    font-size: 19px;
    color: #007D23;
    text-align: right;
    font-weight: bold;
    margin: 0;
    padding: 0vw 5vw 1.5vw 0;
  }
  .account {
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    text-align: left;
    margin: 0;
    padding: 0 0 1.5vw 0;
  }


  .yellowline2 {
    width: 0.5vw;
    height: 3vh;
    background-color: #EBAA4E;
    margin: 0 2vw 0 0 ;
    padding: 0;
  }

  .transaction2 {
    background-color: #f6f6f6;
    margin: -2vw 0 0 0;
    padding: 0;
  }
  .transactionheader2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0 3vw;
    margin: 0;
  }
  
  .transactiontitle2 {
    font-family: 'Lato';
    font-size: 15px;
    color: #444444;
    width: 84vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  .expandtransaction{
    object-fit: contain;
    padding: 0vw 2vw;
    width: 2.5vw;

  }