.popboxRS{
    border: 1px solid #dcdcdc;
    padding-top: 1vh;
    width:85%;
    background-color: #ffffff;
    align-content: left;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 2vh;
}

.subpopboxRS{
    margin: 0 5vw 0 5vw;
    background-color: transparent;
    align-content: left;
}

.raisedonRS{
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-top: 2vh;
}

.ansRS{
    font-family: 'Lato';
    font-size: 18px;
    color: #444444;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-bottom: 2vh;
}

.qnRS{
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-top: 1vh;
}

.uwuRS{
    font-family: 'Lato';
    font-size: 18px;
    color: #444444;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-bottom: 2vh;
}

.movingonRS{
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 500;
    color: #6C6C6C;
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: justify;
    background-color: transparent;
    margin-top: 13vh;
}


.RSsharebutton{
    display:inline-block;
    background-color: #066DAF;
    margin-right: 7vw;
    margin-left: 7vw;
    border-radius: 1vh;
}

.tncforrefund{
    font-family: "Lato";
    background-color: transparent;
    color: #999999;
    font-size: 12px;
    font-family: 'Lato';
    text-align: left;
    padding-left: 6vw;
    max-width: 90vw;
    position: absolute;
    bottom: 10vh;
}

.submitbutton1{
    margin: 0 5vw 0vh 5vw;
    padding: 2vh;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    background-color:#1D0C86 ;
    color: white;
    border: none;
    width: 90vw;
    position: absolute;
    bottom: 4vh;
}