.reremoneytext2in{
    font-family: 'Lato';
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 4%;
    color: #007D23;
}
.reremoneytext2out{
    font-family: 'Lato';
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 4%;
    color: #444444;
}

.reredescriptionbox{
    width: 85%;
    margin: auto;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.rereboxtextheadertitle{
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-top: 2.5vh;
}
.rereboxtextheader{
    font-family: 'Lato';
    font-size: 16px;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-top: 1vh;
}

.rereboxtextcontent{
    font-family: 'Lato';
    font-size: 18px;
    color: #444444;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-bottom: 2vh;
}
.rereboxtextcontentbottom{
    font-family: 'Lato';
    font-size: 18px;
    color: #444444;
    padding: 0;
    margin: 0;
    padding-left: 5%;
    margin-bottom: 2.5vh;
}
.rerewarntext{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: medium;
    color: #444444;
    max-width: 85%;
    margin: auto;
    margin-top: 2vh;
}

.SubmitButtonRed {
    margin: 0 5vw 0vh 5vw;
    padding: 2vh;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Lato";
    background-color:#A50303 ;
    color: white;
    border: none;
    width: 90vw;
    position: absolute;
    bottom: 4vh;
}


.SubmitButton:active{
    opacity: 0.5;
    transition: none;
}
